<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.topnetwork.common.dao.UnitBlockDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.topnetwork.common.entity.UnitBlock">
        <id column="id" property="id" />
        <result column="height" property="height" />
        <result column="hash" property="hash" />
        <result column="zone_id" property="zoneId" />
        <result column="table_id" property="tableId" />
        <result column="shard_id" property="shardId" />
        <result column="timestamp" property="timestamp" />
        <result column="cluster_id" property="clusterId" />
        <result column="miner_address" property="minerAddress" />
        <result column="auditor_address" property="auditorAddress" />
        <result column="validator_address" property="validatorAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, height, hash, zone_id, table_id, shard_id, timestamp, cluster_id, miner_address, auditor_address, validator_address, create_time, update_time
    </sql>

</mapper>
